.panfilov-digital-sign {
  color: var(--panfilov-digital-sign__currentTextColor);
  text-decoration: none;
  display: flex;

  &._small {
    flex-direction: column-reverse;
    align-items: flex-start;

    > .text {
      margin-top: 5px;
    }
  }

  &._medium {
    align-items: center;
  }

  &._large {
    align-items: center;
    .wrapper {
      margin-left: 8px;
      display: flex;
      flex-direction: column-reverse;
      align-items: flex-start;
    }

    .text {
      margin-top: 5px;
      transition: 0.2s;
    }
  }

  .icon {
    display: flex;

    svg {
      color: var(--panfilov-digital-sign__currentSVGColor);
      width: 6em;
      height: 1.5em;
      transition: 0.2s;

      &:last-child {
        width: 5em;
      }
    }
  }

  &:hover {
    color: var(--panfilov-digital-sign__hoverTextColor);

    .icon {
      svg {
        color: var(--panfilov-digital-sign__hoverTextColor);
        &:last-child {
          color: var(--panfilov-digital-sign__hoverSVGColor);
        }
      }
    }
  }
}