@import url('https://fonts.googleapis.com/css2?family=Syne&display=swap');

.panfilov-digital-sign {
  color: var(--panfilov-digital-sign__currentTextColor);
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;

  &._small {
    flex-direction: column-reverse;
    align-items: flex-start;

    > .text {
      margin-top: 5px;
    }
  }

  &._medium {
    align-items: center;
  }

  &._large {
    align-items: center;
    .wrapper {
      margin-left: 8px;
      display: flex;
      flex-direction: column-reverse;
      align-items: flex-start;
    }

    .text {
      margin-top: 5px;
    }
  }

  .text {
    font-family: 'Syne', sans-serif;
    font-size: 1em;
    transition: 0.2s;
  }

  .icon {
    color: var(--panfilov-digital-sign__currentSVGColor);
    font-family: 'Syne', sans-serif;
    display: flex;
    transition: 0.2s;
    font-size: 1.4em;

    &-anim {
      transition: 0.2s;
    }
  }

  &:hover {
    color: var(--panfilov-digital-sign__hoverTextColor);

    .icon {
      color: var(--panfilov-digital-sign__hoverTextColor);

      &-anim {
        color: var(--panfilov-digital-sign__hoverSVGColor);
      }
    }
  }
}